<h1 class='band header'><%= @band.name %></h1>

<div class='member section'>
   <h2 class='member header'> Band Members </h2>
   <div id='members-list'>
      <% @band.members.each do |member| %>
      <div class='member'>
         <div class='member-name'>
            <%= member.name%>
         </div>
         <div class='member-image'>
            <%= image_tag(member.image_file, class: 'member-img') %>
         </div>
      </div>
      <% end %>
   </div>
</div>

<div class='album section'>
   <h2 class='album header'> Albums </h2>
   <div class='album-container'>
      <% @band.albums.each do |album| %>
      <div class='whole-album'>
        <div class='alb'>
         <div class='album-title'><%= album.name%></div>
         <%= image_tag(album.image_file, class: 'album-img') %>
        </div>
         <div class='songs-list'>
            <% album.songs.each do |song| %>
            <div class='song'> <%= song.name%></div>
            <% end %>
         </div>
      </div>
      <% end %>
   </div>
</div>